body{
	max-width: 1150px;
	margin: auto;
}

.header{
	background: #21618C;
	padding: 5px;
}

#title{
	font-size: 50;
	color: white;
	font-family: Verdana, Arial;
	padding: 5px;
	}

.header_image{
	max-width: 140px;
	border-radius: 20%;
	padding: 5px;

}

body{
	background-color: rgb(229, 233, 233);
	padding: 5px;
}

.barra-menu{
	background-color: white;
}

.image_card{
	max-width: 250px;
	max-height: 150px;
	padding: 5px;
}

.card_conf{
	border: 1px;
	background-color: white;
	padding: 5px;
}

.title_section{
	background: #2E86C1;
	color: white;
	padding: 3px;
}

.container-fluid{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.paragrafos{
	text-align: justify;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 5px;
	padding-left: 5px;
	text-indent: 1.5em;
}

.post_image{
	max-width: 700px;
	padding: 5px;
}

.legenda_images{
	text-align: center;
	color: darkgrey;
}

.especific_card{
	border: 1px;
	background-color: white;
	padding: 5px;
	text-align: left;	
}

.cabec_az{
	background-color: darkolivegreen;
	color: white;
}

.trofeus{
	background: rgb(248, 213, 15);
	padding: 5px;
}

.text-card{
	padding: 10px;
}